<div class="container">
  <div class="form-group">
    <h4 class="mb-4">Cambiar Password</h4>    
    <div class="form-group row">
      <!-- <label for="colFormLabel" class="col-sm-2 col-form-label">Password</label> -->
      <div class="col-sm-3">
        <input
          type="password"
          placeholder="Password"
          pInputText
          class="form-control border"
          [(ngModel)]="objCambioPassword.password"
        />
      </div>
    </div>
    <div class="form-group row">
      <!-- <label for="colFormLabel" class="col-sm-2 col-form-label">Confirmar Password</label> -->
      <div class="col-sm-3">
        <input
          type="password"
          placeholder="Confirmar Password"
          pInputText
          class="form-control border"
          [(ngModel)]="objCambioPassword.confirmarPassword"
        />
      </div>
    </div>
    <div class="form-group">
      <button
        type="button"
        (click)="guardar()"
        pButton
        label="Guardar"
        class="btn btn-light m2"
      ></button>
    </div>
  </div>
</div>
